*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
.div-1{
     display: flex; 
     background-color: rgb(245, 232, 232);
     flex-direction: column;
     text-align: end;

}

.lists {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 900px; 
    padding: 10px;
    text-decoration: none;
    
}
a {
    text-decoration: none;
}

a  :hover{
    cursor: pointer;
    background-color: rgb(165, 165, 165);
}

.div-2{
    display: flex;
    flex-direction: row;
    padding: 40px;
}
.para{
   font-size: 5px; 
}
.image{
    width: 200px;
     height: 200px;
     border-radius: 100px;
   margin-left: 100px;
   margin-right: 100px;
 
 margin-top: -10px;
}
span{
    color: goldenrod;
    font-weight: 300;
}
.div-20 h1 {
    font-size: 60px;
}
.para{
    font-size: 30px;
}

.div-2{
    background-color:gray;
    width: 100%;
}
button{
    width: 100PX;
    padding: 3px;
    color: white;
    border-radius: 1PX;
    height: 30px;
    margin-top: 20px;
    background-color: rgb(32, 32, 221);
}
.div-3{
    display: flex;
   
}

.div-30 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 20px;
}
 .div-31{
    margin-left: 50px;
    margin-right: 50px;
 }
.div-30 h1{
    margin-bottom: 20px;
}
.div-31 h1{
 margin-bottom: 20px;
}
.list-expriance{
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}
.div-32{
    display: flex;
    align-items: center;

    margin-bottom: 10px;

}

.div-33{
    display: flex;
    align-items: center;
    
     margin-bottom: 10px;

}

.div-34{
    display: flex;
    align-items: center;
    
     margin-bottom: 10px;

}
body{
    background-color:brown;
}

.image-1{
    margin-right: 700x;
    margin-top: 20px;
    
}
.div-35{
    display: grid ;
     margin-left: auto;
     margin-right: 200px;
     margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;

}