* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.div-1 {
    display: flex;
    background-color: rgb(245, 232, 232);
    flex-direction: column;
    text-align: end;
}

.lists {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    margin-left: 900px;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover li {
    cursor: pointer;
    background-color: rgb(165, 165, 165);
}


.div-2 {
    display: flex;
    flex-direction: row;
    padding: 40px;
    background-color: gray;
    width: 100%;
}

.para {
    font-size: 30px;
    width: 70%;
}
.div-20 button{
    background-color: rgb(14, 118, 187);
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.div-20 button:hover{
    cursor: pointer;
    background-color: rgb(13, 13, 151);
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -10px;
}

span {
    color: goldenrod;
    font-weight: 300;
}

.div-20 h1 {
    font-size: 60px;
}


.div-3 {
    display: flex;
}

.div-30 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 20px;
}

.div-30 h1,
.div-31 h1 {
    margin-bottom: 20px;
}

.div-31 {
    margin-left: 50px;
    margin-right: 50px;
}

.list-expriance,
.div-32,
.div-33,
.div-34 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} 
.project-grid{
    display: flex;
    justify-content: center; 
    gap: 15px;
    flex-wrap: wrap; 
    margin: 20px auto;
    padding: 0 10px; 
    max-width: 900px;

}
.project-1{
    display: inline;
    background-color: gray;
}
.project-1 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 150px;
     margin-top: 10px;
     margin-bottom: 20px;
}
  .project-1 button:hover{
    cursor: pointer;
    background-color:  rgb(151, 169, 187);  
  }
.project-2{
    display: inline;
}
.project-2 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width : 150px;
     margin-top: 10px;
     margin-bottom: 20px;

}
.project-2 button:hover{
    cursor: pointer;
    background-color:  rgb(151, 169, 187);
}
.project-3{
    display: inline;
}
.project-3 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 150px;
     margin-top: 10px;
     margin-bottom: 20px;

}
.project-3 button:hover{
    cursor: pointer;
    background-color: rgb(151, 169, 187);
}
.div-36{
    display: inline;
    justify-content: center;
    margin-right:700px ;
}
.div-36 p{
    width: 70%;
    font-size: 20px;
}
.div-36 button{
    background-color: rgb(14, 118 , 187);
    color: white;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 120px;
     margin-top: 20px;
     text-align: center;
     align-items: center;
}
.div-36 button:hover{
    cursor: pointer;
    background-color: rgb(13, 13, 151);
}
body {
    background-color: brown;
}