* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.div-1 {
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: end;
    height: 70px;
    border-bottom: 2px solid  rgb(200, 200,200);
}

.lists {
    display: flex;
    
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    margin-left: 900px;
    padding: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:hover li {
    cursor: pointer;
    background-color: rgb(165, 165, 165);
}


.div-2 {
    display: grid;
    grid-template-columns: 900px  400px;
    padding: 40px;
    background-color: rgb(230, 245, 250);
    width: 100%;
    height: 500px;
    
}

.para {
    font-size: 30px;
    width: 70%;
    margin-top: 20px;
}
.div-20{
    margin-top: 20px;
    margin-left: 100px;
}
.div-20 button{
    background-color: rgb(14, 118, 187);
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 50px;
}
.div-20 button:hover{
    cursor: pointer;
    background-color: rgb(13, 13, 151);
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}

.name {
    color: rgb(75, 180, 241);
    font-weight: 300;
}

.div-20 h1 {
    font-size: 60px;
}


.div-3 {
     display: grid;
    grid-template-columns: 1fr  fr;
    padding: 40px;
    background-color: white;
    width: 100%;
    height: 500px;
    
}
.div-text{
    background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.div-text h1{
    font-family: Arial;
    font-weight: bold;
    margin-top: 50px;
    color: rgb(32, 32, 32);
    
}
 .div-para{
    width: 500px;
    margin-left: 160px;

 }
.para-3{
    margin-top: 20px;
    color: gray;
    font-family: Arial;
}
 .para-4{
    margin-top: 30px;
    color: gray;
    font-family: Arial;
    
 }


.div-30 {
    display: grid;
    grid-template-columns: 700px 400px;
    column-gap:5px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 20px;
}



.div-31 {
    margin-left: 50px;
    margin-right: 50px;
}

.list-expriance,
.div-32,
.div-33,
.div-34 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} 
.project-grid{
    display: flex;
    justify-content: center; 
    gap: 15px;
    flex-wrap: wrap; 
    margin: 20px auto;
    padding: 0 10px; 
    max-width: 900px;

}
.project-1{
    display: inline;
    background-color: gray;
}
.project-1 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 150px;
     margin-top: 10px;
     margin-bottom: 20px;
}
  .project-1 button:hover{
    cursor: pointer;
    background-color:  rgb(151, 169, 187);  
  }
.project-2{
    display: inline;
}
.project-2 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width : 150px;
     margin-top: 10px;
     margin-bottom: 20px;

}
.project-2 button:hover{
    cursor: pointer;
    background-color:  rgb(151, 169, 187);
}
.project-3{
    display: inline;
}
.project-3 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 150px;
     margin-top: 10px;
     margin-bottom: 20px;

}
.project-3 button:hover{
    cursor: pointer;
    background-color: rgb(151, 169, 187);
}
.div-36{
    display: inline;
    justify-content: center;
    margin-right:700px ;
}
.div-36 p{
    width: 70%;
    font-size: 20px;
}
.div-36 button{
    background-color: rgb(14, 118 , 187);
    color: white;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 120px;
     margin-top: 20px;
     text-align: center;
     align-items: center;
}
.div-36 button:hover{
    cursor: pointer;
    background-color: rgb(13, 13, 151);
}

.list-expriance{
    display: grid;
    grid-template-columns: 85px 155px 160px 85px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    column-gap: 10px;
}
.div-33{
    display: grid;
    grid-template-columns: 85px 150px 85px 160px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    column-gap: 10px;
}
.div-34{
    display: grid;
    grid-template-columns: 85px 150px 155px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    column-gap: 10px;
}
.div-35{
    display: grid;
    grid-template-columns: 80px;
    margin-left: 10px;
}
span{
    color: black;
}
button{
    border: none;
    padding: 3px;
    border-radius: 7px;
}
.div-37{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
}
.div-38{
    width: 400px;
    height: 350px;
    margin-top: 20px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.div-38 p{
    margin-top: 10px;
    width: 333px;
    color: rgb(125, 125, 125);
}
.div-03{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(75, 75, 75);
}
.but1{
    margin-top: 10px;
    width: 300px;
    border: 2px solid rgb(195,195,195);
    height: 35px;
}
.div-40 {
  display: flex;
  flex-direction: column;
  align-items: center;          
  justify-content: flex-start;  

  height: 600px;
  background-color: rgb(230, 245, 250);
  padding-top: 80px;            
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.div-40 h1 {
  margin-bottom: 15px;
}

.div-40 .desc {
  color: gray;
  width: 700px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.5;
}
.div-40 input {
  width: 280px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.div-40 button {
  padding: 10px 25px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.social {
  display: grid;
  grid-template-columns: 85px 85px 85px;
  row-gap: 20px;
  margin-top: 40px;
  color: #777;
  font-size: 14px;
}
.div-42{
  width: 100%;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;

}
.div-42 p{
    margin-top: 10px;
    color: rgb(90, 90, 90);
    font-size: 13px;
    font-family: Arial;
}
body {
    background-color: white;
    cursor:pointer;
}