* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.div-1 {
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: end;
    height: 70px;
    border-bottom: 2px solid  rgb(200, 200,200);
}

.lists {
    display: flex;
    
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    margin-left: 900px;
    padding: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

a:hover li {
    cursor: pointer;
    background-color: rgb(165, 165, 165);
}


.div-2 {
    display: grid;
    grid-template-columns: 900px  400px;
    padding: 40px;
    background-color: rgb(230, 245, 250);
    width: 100%;
    height: 500px;
    
}

.para {
    font-size: 30px;
    width: 70%;
    margin-top: 20px;
}
.div-20{
    margin-top: 20px;
    margin-left: 100px;
}
.div-20 button{
    background-color: rgb(14, 118, 187);
    color: white;
    font-weight: bold;
    font-size: 12px;
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 50px;
}
.div-20 button:hover{
    cursor: pointer;
    background-color: rgb(13, 13, 151);
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
}

span {
    color: rgb(75, 180, 241);
    font-weight: 300;
}

.div-20 h1 {
    font-size: 60px;
}


.div-3 {
     display: grid;
    grid-template-columns: 1fr  fr;
    padding: 40px;
    background-color: white;
    width: 100%;
    height: 500px;
    
}
.div-text{
    background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}
.div-text h1{
    font-family: Arial;
    font-weight: bold;
    margin-top: 50px;
    color: rgb(32, 32, 32);
    
}
 .div-para{
    width: 500px;

 }
.para-3{
    margin-top: 20px;
    color: gray;
    font-family: Arial;
}
 .para-4{
    margin-top: 30px;
    color: gray;
    font-family: Arial;
    
 }


.div-30 {
    display: grid;
    grid-template-columns: 900px 400px;
    column-gap: 50px;
    margin-left: 100px;
    margin-right: 500px;
    margin-top: 20px;
}



.div-31 {
    margin-left: 50px;
    margin-right: 50px;
}

.list-expriance,
.div-32,
.div-33,
.div-34 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} 
.project-grid{
    display: flex;
    justify-content: center; 
    gap: 15px;
    flex-wrap: wrap; 
    margin: 20px auto;
    padding: 0 10px; 
    max-width: 900px;

}
.project-1{
    display: inline;
    background-color: gray;
}
.project-1 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 150px;
     margin-top: 10px;
     margin-bottom: 20px;
}
  .project-1 button:hover{
    cursor: pointer;
    background-color:  rgb(151, 169, 187);  
  }
.project-2{
    display: inline;
}
.project-2 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width : 150px;
     margin-top: 10px;
     margin-bottom: 20px;

}
.project-2 button:hover{
    cursor: pointer;
    background-color:  rgb(151, 169, 187);
}
.project-3{
    display: inline;
}
.project-3 button{
background-color: rgb(198, 227, 235);
    color: black;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 150px;
     margin-top: 10px;
     margin-bottom: 20px;

}
.project-3 button:hover{
    cursor: pointer;
    background-color: rgb(151, 169, 187);
}
.div-36{
    display: inline;
    justify-content: center;
    margin-right:700px ;
}
.div-36 p{
    width: 70%;
    font-size: 20px;
}
.div-36 button{
    background-color: rgb(14, 118 , 187);
    color: white;
     border: none;
     border-radius: 5px;
     height: 36px;
     width: 120px;
     margin-top: 20px;
     text-align: center;
     align-items: center;
}
.div-36 button:hover{
    cursor: pointer;
    background-color: rgb(13, 13, 151);
}
body {
    background-color: white;
}